
body{
    margin: 0px;
    padding: 0px;
    background-color: greenyellow;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 35px;
    position:absolute;
    left: 50%;
    transform: translate(-50%);
    top: 311px;
    z-index: 2;


}
.class{
    background-color: lightgray;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 5px solid rgb(88, 88, 108);
}
.number div{
    position: absolute;
    font-size: 27px;
    font-weight: bold;
    color: lightgoldenrodyellow;
    text-shadow: 1px 1px 2px rgb(123, 234,234);
}
.twelve{
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
}
.three{
    right: 347px;
    top: 50%;
    transform: translateY(-50%);
}
.six{
    left: 471px;
    top: 62%;
    transform: translateX(-50%);
}
.nine{
    left: 347px;
    top: 50%;
    transform: translateY(-50%);
}
.arrow{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.arrow::before{
    content: "";
    height: 15px;
    width: 15px;
    background-color: darkgreen;
    border-radius: 50%;
    box-shadow: 2px solid rgb(69, 110, 110);
    z-index: 4;
}
.arrow div{
    background-color: rgba(22, 188, 100, 0.162);
    width: 7px;
    position: absolute;
    height: 80px;
    transform-origin: bottom center;
    bottom: 50%;
    z-index: 3;
    border-radius: 50% 50% 0 0;
    box-shadow: 1px 1px 2px rgb(58, 16, 174);

}
.arrow .hour{
    height: 40px;
    transform: rotate(45deg);
    background-color: red;
}
.arrow .minute{
    transform: rotate(205deg);
    background-color: yellowgreen;
}